@import url("https://fonts.googleapis.com/css2?family=Krub:wght@300;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e63946;
}

/* font-family: 'Krub', sans-serif; */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  border-radius: 22px;
  background: #e63946;
  box-shadow: 35px 35px 70px #b82e38, -35px -35px 70px #ff4454;
}
#imagem {
  display: none;
}
